#main-container {
  height: 600px;
  /* width: 1000px; */ 

  display: flex;
  flex-direction: column;
  
  border: 1px solid black;
  background: rgba(228, 149, 2, 0.397);
}



#menu{
  flex:1;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid black;
}

#button-container{
  flex:5;
  height : 33px;
  border: 1px solid rgb(226, 43, 43);
}

.button {
  width: 100px;
  height: 70px;
  
  border-top-left-radius: 100% 20px;
  border-bottom-right-radius: 100% 20px;
}
